fastapi
uvicorn
requests
beautifulsoup4
python-dotenv

newspaper3k
httpx
numpy

# LangChain and related packages
langchain
langchain-core
langchain-huggingface
langchain-community  # For HuggingFaceInferenceAPIEmbeddings and other community tools
langchain-text-splitters
langchain-openai

# LangGraph packages
langgraph

